.main {
   height: calc(100vh - 47px);
   display: flex;
   align-items: center;
}
.column {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.charX:before {
   content: '×';
   font-size: 100px;
   font-weight: 500;
   text-transform: uppercase;
   color: #545fc2;
   line-height: 30px;
}
.charO:before {
   content: '𐩒';
   font-size: 75px;
   font-weight: bold;
   text-transform: uppercase;
   color: #c22c2c;
   line-height: 60px;
}

.confirmed {
   font-size: 20px;
   font-weight: bold;
   color: #198754;
}
.unconfirmed {
   font-size: 20px;
   font-weight: bold;
   color: #dc3545;
}

.turn {
   font-size: 45px;
   font-weight: bold;
   color: #e99f00; 
}
