.main {
   height: calc(100vh - 47px);
   display: flex;
   align-items: center;
}
.column {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.charX {
   font-size: 40px;
   color: #545fc2;
}
.charO {
   font-size: 40px;
   color: #c22c2c;
}

.confirmed {
   font-size: 20px;
   font-weight: bold;
   color: #198754;
}
.unconfirmed {
   font-size: 20px;
   font-weight: bold;
   color: #dc3545;
}
